@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans";
  min-height: 100vh;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "PT Sans";
}

.MyButton_default {
  background-color: #ececec;
  color: #000;
}

.MyButton_default:hover {
  background-color: #007fff;
  color: #fff;
}

.MyButton_positive {
  background-color: #007fff;
  color: #fff;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */
header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 24px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* DiaryList */

.DiaryList {
  padding-bottom: 14%;
}

.DiaryList .menu_wrapper {
  padding-top: 4%;
  padding-bottom: 4.5%;

  display: flex;
}

.DiaryList .menu_wrapper .bottom_col {
  position: fixed;
  bottom: 2%;
  font-weight: bold;
}

.DiaryList .menu_wrapper .bottom_col button {
  width: 100%;
  height: 50px;
}

@media (min-width: 700px) {
  .DiaryList .menu_wrapper .bottom_col {
    width: 640px;
  }
}

@media (max-width: 700px) {
  .DiaryList .menu_wrapper .bottom_col {
    left: 20px;
    right: 20px;
  }
}

.DiaryList .left_col {
  display: flex;
  column-gap: 2vh;
}

.DiaryList .left_col > .ControlMenu {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 3% 5%;

  cursor: pointer;
  font-family: "PT Sans";
  font-size: 16px;
}

/* DiaryItem */

.ItemWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.DiaryItem {
  display: flex;
  justify-content: space-between;
  padding: 2.5%;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 0 7px #dedede;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  width: 50%;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  padding-left: 3%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.DiaryItem .diary_time {
  font-size: 14px;
  color: #999;
  padding-left: 2%;
}
.DiaryItem span {
  width: 90%;
  height: 1px;
  border-top: 1px dotted #ccc;
}

.DiaryItem .diary_content_preview {
  font-size: 16px;
  width: 100%;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */

.DiaryEditor > .main {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 7vh;
}

.DiaryEditor section {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 2% 3%;

  cursor: pointer;
  font-family: "PT Sans";
  font-size: 18px;
  letter-spacing: 1.5px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: "PT Sans";
  font-size: 20px;
  text-align: justify;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 3.5%;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
}

/* EmotionItem */
.EmotionItem {
  cursor: pointer;

  border-radius: 5px;

  padding-top: 17%;
  padding-bottom: 17%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5vh;
}

.EmotionItem img {
  width: 50%;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}

/* Diary */

.DiaryPage article {
  display: flex;
  flex-direction: column;
  row-gap: 7vh;
  padding-top: 3%;
}

.DiaryPage section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3vh;
}

.DiaryPage .diary_img_wrapper {
  background-color: #ececec;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.DiaryPage .diary_img_wrapper_1 {
  background-color: #64c964;
}
.DiaryPage .diary_img_wrapper_2 {
  background-color: #9dd772;
}
.DiaryPage .diary_img_wrapper_3 {
  background-color: #fdce17;
}
.DiaryPage .diary_img_wrapper_4 {
  background-color: #fd8446;
}
.DiaryPage .diary_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryPage .emotion_descript {
  font-size: 25px;
  color: white;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 3%;
  text-align: left;
  font-size: 18px;
  line-height: 1.25;
  text-align: justify;
}
